* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
}

.footer {
    position: relative;
    background: url('/src/image/footer/pexels-peter-5862657.jpg') no-repeat center center/cover;
    color: #ffffff;
    padding: 60px 0;
}

.footer-overlay {
    background: rgba(208, 200, 207, 0.6);
    padding: 60px 0;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-col {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-col p {
    font-size: 14px;
    line-height: 24px;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff6b6b;
}

.footer-bottom {
    color: #000;
    border-radius: 12px;
    background: rgba(254, 253, 253, 0.8);
    padding: 12px ;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-col {
        margin: 10px 0;
        max-width: 100%; /* Ensure columns don't exceed screen width */
    }
}

.footer-col img {
    width: 240px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.footer-content a:hover {
    color: #000;
}

.social-media {
    margin-top: 10px;
}
