body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white; /* Optional: makes the background of the entire page white */
}
.header {
    background: linear-gradient(to right, pink, skyblue);
    width: 100%;
    max-width: 1920px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a shadow */
    position: relative;
    text-align: center;
}
.header img {
    width: 35px;
}
.arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.home-icon {
    display: inline-block;
}