body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; /* Optional: makes the background of the entire page white */
}
.header {
    color: white;
    background: #FFC7C7;
    width: 100%;
    max-width: 3000px;
    box-shadow: 0 0 10px rgba(9, 9, 9, 0.1); /* Optional: adds a shadow */
    position: relative;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    
}
.header h1 {
    margin: 0;
}
.header img {
    width: 30px;
}
.arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 40px;
}
.arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 40px;
}
.home-icon {
    display: inline-block;
}